body {
    background-image: url("/imagenes/Imagen1.jpg");
    background-size: cover;       /* La imagen cubre toda la pantalla */
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: center;  /* Centra la imagen */
    
}
.pista {
    width: 50%;
    height: 100px;
    position: relative;
    margin-top: 100px; /* baja la pista para que no quede arriba */
}

.carro {
    width: 150px;
    position: absolute;
    left: 20px;
    bottom: 0;
    top: -90px;
    offset-path: path("M 100 80 L 200 80 L 00 Z");
    offset-distance: 0%;
    offset-rotate: 0deg; /* ← evita que gire */
}

@keyframes moverCarro {
    to {
        offset-distance: 100%;
    }
}

/* Cuando el checkbox está marcado, animamos el carro */
#toggle:checked ~ .pista .carro {
    animation: moverCarro 5s linear infinite;
}